*{
    margin: 0;
    padding: 0;
}

.nav-link {

    margin-right: 40px;
    margin-bottom: 10px;

  }
  .navbar-toggler-icon {
    color: white; /* Cambia #ff0000 por el color que desees utilizar */
  }

  #botonFiltro, #a_inscribirme{
    color: white;
    background:linear-gradient(rgb(165, 4, 4), rgb(78, 6, 6),rgb(32, 1, 1));
  }

.navbar-toggler-icon::before {
    color: white; /* Cambia el color del icono aquí */
  }

/*INICIO NOMBRE Y SLOGAN*/
.navbar{
    background-color: rgb(182, 178, 178);
    text-decoration: none;
    color: black;
}
.logo{
    margin-left: 50%;
}
.fondoAnimado{
    padding: 3%;
    background: linear-gradient(
        to right,black,
        rgb(122, 91, 91), #BE0202);
        background-size: 400% 400%;
        animation: fondoAnimado 10s infinite ease-in;
}
@keyframes fondoAnimado{
    0%{
        background-position: 0 100%;
    }
    100%{
        background-position: 100% 0;
    }
}
.runner{
        animation: runner 10s ease-in-out;
}
@keyframes runner{
    0%, 50%{
        transform:translate(5%)
    }
    50%, 100%{
        transform: translate(25%);
    }
    100%{
        transform: translate(100%);
    }
}

/*ESCUELAS*/
.escuelas{
    background-image:image(Fondo Linces 4.png);
    margin-top: 5%;
    padding: 3%;
}
/*.card-body{
    color: white;
    margin: 5%;
    background-color: rgb(223, 223, 223); 
}*/

.card-text{
    color: black;
}
.card-img-top{
    padding: 5%;
    height: 50%;
}

