*{
    margin: 0;
    padding: 0;
}

header{
    /*background:url("./Fondo\ Linces\ 4.png") no-repeat center center fixed;*/
    background-image: -moz-element("./Fondo\ Linces\ 4.png");
    background-size:cover;
	height:100px;
	width: 100%;
	position: absolute;
	left:0;
	top:0;
    
}
/*INICIO IMAGEN NOMBRE Y SLOGAN*/
#Mesa_de_trabajo_1{
    visibility: visible;
}
#corredorSlogan{
    margin-top: 3%;
}

/*ESCUELAS*/
h5{
    text-align: center;

}
#cardNiños{
    background-image: url(prueba.png);
}
#cardJovenes{
    background-image: url(jovenes.jpg);
}
#cardAdultos{
    background-image: url(adultos.jpg);
}
#inscribirse{
    color: black;
    font-weight: bold;
}
.card-body{
    color: black;
    margin: 5%;
}
.card-img-top{
    padding: 5%;
}
.card-title{
    margin: 9%;
    text-align: center;
}
.card-text{
    margin: 5%;
    text-align: center;
}
/*INSCRIPCION NIÑOS*/
#inscripcionNiños{
    margin-top: 5%;
}
.btn{
    justify-content: center;
}
/*CONTACTO*/
#contacto{
    margin-top: 5%;
}
/*ESCUELAS V3*/
.fondoCardEscuelas{
    background-image: url(Fondo\ Linces\ 4.png);
    text-align: center;
    margin:10%;
}
/*ESCUELA DE NIÑOS V3*/
.textoCardEscuelas{
    color: white;
    padding: 10%;
}


