* {
    /*box-sizing: border-box;*/
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAV */
.nav-link {
    margin-right: 40px;
    margin-bottom: 10px;

}
.navbar-toggler-icon {
    color: white;
}

#botonFiltro,
#a_inscribirme {
    color: white;
    background: linear-gradient(rgb(165, 4, 4), rgb(78, 6, 6), rgb(32, 1, 1));
}

/* EVENTOS */
#eventos h1, 
#inscripcionNiños h1{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.card-img-top{
    padding: 5%;
    height: 50%;
}

